In [186]:
import pandas as pd
import numpy as np
import csv

In [187]:
# had to resave because previous table was not encoded well
filepath = './datasets/test.csv'

In [188]:
df = pd.read_csv(filepath, memory_map=True, engine='python', quoting=csv.QUOTE_NONE)

In [189]:
df

,Year,EmployerType,EmployerName,DepartmentOrSubdivision,Position,MinPositionSalary,MaxPositionSalary,ReportedBaseWage,RegularPay,OvertimePay,LumpSumPay,OtherPay,TotalWages
0,2009,City,Carlsbad,City Attorney,Assistant City Attorney,108099,154599.0,147559.0,NaN,NaN,NaN,NaN,147559.0
1,2009,City,Carlsbad,City Attorney,Assistant City Attorney,108099,154599.0,166988.0,NaN,NaN,NaN,NaN,166988.0
2,2009,City,Carlsbad,City Attorney,City Attorney,0,236299.0,257057.0,NaN,NaN,NaN,NaN,257057.0
3,2009,City,Carlsbad,City Attorney,Deputy City Attorney,88500,128300.0,118389.0,NaN,NaN,NaN,NaN,118389.0
4,2009,City,Carlsbad,City Attorney,Secretary To City Attorney,52800,72600.0,57996.0,NaN,NaN,NaN,NaN,57996.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
85779,2023,City,Vista,Fire Suppression,"""Fire Fighter/Pm A",FALSE,NaN,91176.0,110868.0,NaN,44433.0,18677.0,1879.0
85780,2023,City,Vista,Fire Suppression,"""Fire Fighter/Pm A",FALSE,NaN,91176.0,110868.0,NaN,33912.0,1010.0,2486.0
85781,2023,City,Vista,Fire Suppression,"""Fire Fighter/Pm A",FALSE,NaN,91176.0,110868.0,NaN,44433.0,21412.0,1879.0
85782,2023,City,Vista,Fire Suppression,"""Fire Fighter/Pm A",FALSE,NaN,91176.0,110868.0,NaN,3825.0,1275.0,306.0
85783,2023,City,Vista,Human Resources,Fire Chief,120516,254976.0,NaN,107585.0,0.0,0.0,299.0,107884.0

In [190]:
# remove unneccessary quotes so we can actually use in jupyter
df['Position'] = df['Position'].str.replace('"', '')

In [191]:
# Remove Employer Type because everything is city
df = df.drop(columns=['EmployerType'])

In [192]:
# Remove all '\xa0' so we can import to jupyter (this was a pain in the ass )
df = df.replace('\xa0', '', regex=True)

In [193]:
# Replace False with NaN
df.replace(False, np.nan, inplace=True)
df.replace("FALSE", np.nan, inplace=True)

In [194]:
# Check df to see if there are NaN
cols = df.columns

for i in cols:
    if df[i].isna().sum() > 0:
        print(i, " contains NaN")

DepartmentOrSubdivision  contains NaN
MinPositionSalary  contains NaN
MaxPositionSalary  contains NaN
ReportedBaseWage  contains NaN
RegularPay  contains NaN
OvertimePay  contains NaN
LumpSumPay  contains NaN
OtherPay  contains NaN
TotalWages  contains NaN

In [195]:
# we are interested in grouping by ["police", "fire", "city attorney", "sheriff", "teacher", "educator", "school"]
df["DepartmentOrSubdivision"].unique()

array(['City Attorney', 'Fire Admin', 'Fire Emergency Operations',
       'Fire Prevention', 'Fire Support Services', 'Pol Communications',
       'Pol Investigations', 'Pol Professional Standards', 'Pol Records',
       'Pol Traffic-Comm Svcs', 'Police Admin', 'Police Patrol',
       'Rec Preschool', 'Amer. Recovery & Reinvest. Act',
       'Central Garage Fund', 'Fire', 'Library', 'Police',
       'Police Dept Grants Fund', 'Supp Law Enforcement Serv Fund',
       'Fire Services', 'Planning', 'Parks & Recreation', 'Public Safety',
       'Fire - Operations', 'Fire Administration', 'City Attorney ',
       'Fire ', 'Police ', 'Safety Services Department',
       'Civil Service Approved Leave', 'Development Services',
       'Ethics Commission', 'Fire Department', 'Homeland Security',
       'Police Department', 'Emergency Medical Services',
       'Emergency Operations', 'Fire Suppression', 'Fire Training',
       'American Recovery & Reinvest. Act', 'Redevelopment & Housing',
       "City Manager's Office", nan, 'Fire-Rescue', 'Retirement', 'Water',
       'Fire Emergency Ops', 'Police Field Operations',
       'Police Invstgtns & Info Svcs', 'Police Pro Standards & Svcs',
       'Rec Service Area 1', 'Local Law Enforc Blk Grant Pro',
       'Police Services', 'Community Development', 'Fire-Operations',
       'Office Of Homeland Security', 'Risk Management',
       'Police Investigations & Info Services',
       'Police Pro Standards & Services', 'Federal Grants Fund',
       'Local Law Enforcement Blk Grant Pro', 'Police Dept. Grants Fund',
       'City Manager', 'Administrative Services', 'Fire-Administration',
       'Dev. Services- Administration', 'SDFD- Fire Rescue', 'SDFD- MAST',
       'SDFD- Suppression', 'Fire Operations', 'Fire - Administration',
       'Emergency Medical', 'Fire Prevention/Admin', 'Public Works',
       'Community Services', 'Recreation',
       'Advanced Life Support Program', 'Local Law Enf Block Grant Pro',
       'Utilities', 'Fire Protection', 'Ocean/Beach Safety',
       'Ps Fire Protection', 'Safety Services',
       'Fire Prevention/Administration', 'Public Safety Fire Protection',
       'City Clerk', 'Office Of Emergency Services', 'Fire Paramedics',
       'Fire Prevention Bureau', 'Fire Emergency Prep', 'Term',
       '2400 - Fire Chief', '2401 - Fire Department',
       'Community Development Building', 'El Cajon Terms',
       'Police Administration', 'Police Communications',
       'Police Inspection Training', 'Police Investigations',
       'Police Records', 'Police SED/Traffic',
       'Police Special Operations Unit', 'City Manager-Admin',
       'Human Resources'], dtype=object)

In [196]:
# Strip leading and trailing whitespace
df["DepartmentOrSubdivision"] = df["DepartmentOrSubdivision"].str.strip()

In [197]:
# check nan departments
df["DepartmentOrSubdivision"].isna().value_counts()

DepartmentOrSubdivision
False    85779
True         5
Name: count, dtype: int64

In [198]:
df[df["DepartmentOrSubdivision"].isna()]

,Year,EmployerName,DepartmentOrSubdivision,Position,MinPositionSalary,MaxPositionSalary,ReportedBaseWage,RegularPay,OvertimePay,LumpSumPay,OtherPay,TotalWages
7795,2010,San Diego,NaN,Deputy City Attorney,17805,204214.0,28218.0,NaN,NaN,NaN,NaN,28218.0
7796,2010,San Diego,NaN,Deputy City Attorney,17805,204214.0,18812.0,NaN,NaN,NaN,NaN,18812.0
7797,2010,San Diego,NaN,Fire Captain,70970,85904.0,13918.0,NaN,NaN,NaN,NaN,13918.0
7798,2010,San Diego,NaN,Fire Prevention Inspector II,61589,74464.0,7160.0,NaN,NaN,NaN,NaN,7160.0
7799,2010,San Diego,NaN,Fire Prevention Inspector II,61589,74464.0,15788.0,NaN,NaN,NaN,NaN,15788.0

In [199]:
# remove nan because they look pretty useless ngl
df = df.dropna(subset=["DepartmentOrSubdivision"])

In [200]:
df["DepartmentOrSubdivision"].unique()

array(['City Attorney', 'Fire Admin', 'Fire Emergency Operations',
       'Fire Prevention', 'Fire Support Services', 'Pol Communications',
       'Pol Investigations', 'Pol Professional Standards', 'Pol Records',
       'Pol Traffic-Comm Svcs', 'Police Admin', 'Police Patrol',
       'Rec Preschool', 'Amer. Recovery & Reinvest. Act',
       'Central Garage Fund', 'Fire', 'Library', 'Police',
       'Police Dept Grants Fund', 'Supp Law Enforcement Serv Fund',
       'Fire Services', 'Planning', 'Parks & Recreation', 'Public Safety',
       'Fire - Operations', 'Fire Administration',
       'Safety Services Department', 'Civil Service Approved Leave',
       'Development Services', 'Ethics Commission', 'Fire Department',
       'Homeland Security', 'Police Department',
       'Emergency Medical Services', 'Emergency Operations',
       'Fire Suppression', 'Fire Training',
       'American Recovery & Reinvest. Act', 'Redevelopment & Housing',
       "City Manager's Office", 'Fire-Rescue', 'Retirement', 'Water',
       'Fire Emergency Ops', 'Police Field Operations',
       'Police Invstgtns & Info Svcs', 'Police Pro Standards & Svcs',
       'Rec Service Area 1', 'Local Law Enforc Blk Grant Pro',
       'Police Services', 'Community Development', 'Fire-Operations',
       'Office Of Homeland Security', 'Risk Management',
       'Police Investigations & Info Services',
       'Police Pro Standards & Services', 'Federal Grants Fund',
       'Local Law Enforcement Blk Grant Pro', 'Police Dept. Grants Fund',
       'City Manager', 'Administrative Services', 'Fire-Administration',
       'Dev. Services- Administration', 'SDFD- Fire Rescue', 'SDFD- MAST',
       'SDFD- Suppression', 'Fire Operations', 'Fire - Administration',
       'Emergency Medical', 'Fire Prevention/Admin', 'Public Works',
       'Community Services', 'Recreation',
       'Advanced Life Support Program', 'Local Law Enf Block Grant Pro',
       'Utilities', 'Fire Protection', 'Ocean/Beach Safety',
       'Ps Fire Protection', 'Safety Services',
       'Fire Prevention/Administration', 'Public Safety Fire Protection',
       'City Clerk', 'Office Of Emergency Services', 'Fire Paramedics',
       'Fire Prevention Bureau', 'Fire Emergency Prep', 'Term',
       '2400 - Fire Chief', '2401 - Fire Department',
       'Community Development Building', 'El Cajon Terms',
       'Police Administration', 'Police Communications',
       'Police Inspection Training', 'Police Investigations',
       'Police Records', 'Police SED/Traffic',
       'Police Special Operations Unit', 'City Manager-Admin',
       'Human Resources'], dtype=object)

In [201]:
df["Position"].unique()

array(['Assistant City Attorney', 'City Attorney', 'Deputy City Attorney',
       'Secretary To City Attorney', 'Fire Chief',
       'Fire Battalion  Chief', 'Fire Captain', 'Fire Division Chief',
       'Fire Engineer', 'Paramedic Firefighter', 'Fire Marshal',
       'Fire Prevention Specialist II', 'Hourly/Fire Sworn',
       'Police Communications Manager', 'Police Reserve Officer',
       'Police Corporal', 'Police Lieutenant', 'Police Officer',
       'Police Sergeant', 'Police Training Coordinator',
       'Police Records Specialist II', 'Police Captain', 'Police Chief',
       'Hourly/Preschool Instructor', 'Police Agent',
       'Police Comm Relations Spec', 'Fire Apparatus Mech',
       'Asst City Attorney', 'Deputy City Attorney II',
       'Deputy City Attorney III', 'Deputy Fire Chief',
       'Fire Battalion Chief (112 Hr)', 'Fire Battalion Chief (80 Hr)',
       'Fire Captain (112 Hr)', 'Fire Captain (80 Hr)',
       'Fire Eng (112 Hr)', 'Fire Eng (80 Hr)', 'Fire Inspector II',
       'Fire Inspector II (Hrly)', 'Fire Prevention Engineer',
       'Firefighter (112 Hr)', 'Firefighter (80 Hr)', 'Sr Fire Inspector',
       'School Site Coordinator', 'Chief Of Police',
       'Chief Of Police (Hourly)', 'Police Cadet',
       'Police Comm Systems Manager', 'Police Data Specialist',
       'Police Dispatcher', 'Police Dispatcher Supervisor',
       'Police Records Specialist', 'Police Records Transcriptionis',
       'Police Recruit', 'Police Services Officer',
       'Police Services Technician', 'Police Support Services Mgr',
       'Police Svcs Tech (Hourly)', 'Police Technology Specialist',
       'Sr Police Data Specialist', 'Police Training & Dev Supv',
       'Dir. Of Fire Services', 'Fire Div. Chief', 'Fire Fighter',
       'Fire Fighter - Paramedic', 'Dir. Of Police Services',
       'Police Comm. Rela. Coord.', 'Police Commander',
       'Police Dispatch/Rec. Asst', 'Police Services Offcr II',
       'Senior Police Officer', 'Firefighter', 'Firefighter/Paramedic',
       'Student Firefighter/Paramedic', 'Fire Battalion Chief',
       'Paramedic/Firefighter', 'Building Officer/Fire Marshall',
       'Fire Safety Specialist', 'Police Records Manager',
       'Police Records Supervisor', 'Police Sargeant',
       'Secretary to Police Chief', 'Contract Deputy Fire Marshal I',
       'Deputy Fire Marshal II', 'Fire Deputy Chief', 'Firefighter I',
       'Firefighter/Paramedic I', 'Firefighter/Paramedic III',
       'Probationary Firefighter/Paramedic', 'Senior Deputy Fire Marshal',
       'Dep City Attorney', 'Executive Assistant-City Atty',
       'Dep Fire Marshall', 'Fire & Disaster Education Spec',
       'Fire Admin Services Manager', 'Fire Prevention Specialist',
       'Asst Chief of Police', 'Dept Spec/Police Data Tech I',
       'Police Comm Outreach Liaison', 'Police Data Technician II',
       'Police Officer Trainee', 'Police Projects Specialist',
       'Police Records Technician', 'Police Services Bureau Mgr',
       'School Crossing Guard', 'Ps Director/Fire Chief',
       'Fire Engineer Paramedic', 'Fire/Safety Inspector',
       'Residential Fire/Safety Insp', 'Fire Engineer w/ PM Bonus',
       'Firefighter w/ PM Bonus', 'Police Property Officer',
       'Police Services Manager', 'Police Services Specialist',
       'Under contract tied to Police Sergeant',
       'Fire Prevention/Public Education Specialist',
       'Sr Assistant City Attorney', 'Deputy Fire Marshal',
       'Fire Inspector', 'Assistant Chief Of Police',
       'Police Investigative Aide', 'Police Operations Assistant',
       'Police Records Clerk', 'Police Support Services Mgr.',
       'Reserve Police Officer', 'Senior Police Dispatcher',
       'Assistant City Attorney - Barbara Hamilton',
       'Deputy City Attorney II - Dborah Nash',
       'Deputy City Attorney II - Leslie Gallagher',
       'Supervising Deputy City Attorney - Tarquin Preziosi',
       'Fire Battalion Chief (40 Hour)', 'Fire Battalion Chief (56 Hour)',
       'Fire Captain (40 Hour)', 'Fire Captain (56 Hour)',
       'Fire Engineer (56 Hour)', 'Firefighter Paramedic (56 Hour)',
       'Police Captain ', 'Police Records Supervisor ',
       'Senior Police Records Technician', 'Fire Captain/Paramedic',
       'Fire Engineer/Paramedic', 'Senior Fire Safety Inspector',
       'City Attorney Investigator', 'Conf Secretary To City Atty',
       'Deputy City Attorney - Unrep', 'Principal Assistant To City Atty',
       'Senior City Attorney Investigator', 'Police Detective',
       'Police Officer II', 'Fire Prevention Inspector II',
       'Fire Prevention Inspector II/Civ',
       'Senior Engineer-Fire Protection', 'Assistant Fire Chief',
       'Assistant Fire Marshal', 'Assistant To Fire Chief',
       'Fire Captain - Mast', 'Fire Dispatch Administrator',
       'Fire Dispatch Supervisor', 'Fire Dispatcher',
       'Fire Engineer - Mast', 'Fire Fighter I', 'Fire Fighter II',
       'Fire Helicopter Pilot', 'Fire Prevention Inspector I',
       'Fire Prevention Supervisor',
       'Fire Prevention Supervisor/Civilian', 'Fire Recruit',
       'Assistant Police Chief', 'Assistant To Police Chief/Civilian',
       'Conf Secretary To Police Chief',
       'Executive Assistant Police Chief',
       'Police Administrative Services Dir', 'Police Agent (terminal)',
       'Police Code Compliance Officer',
       'Police Code Compliance Supervisor',
       'Police Dispatch Administrator', 'Police Dispatch Supervisor',
       'Police Investigative Aide II', 'Police Lead Dispatcher',
       'Police Officer I', 'Police Property & Evidence Clerk',
       'Police Records Data Specialist',
       'Police Records Data Specialist Supv', 'Police Service Officer I',
       'Police Service Officer II', 'Senior Police Records Clerk',
       'Fire Captain (w/ FLSA)', 'Fire Engineer (w/ FLSA)',
       'Fire Prevention Technician', 'Firefighter/Paramedic (w/ FLSA)',
       'Firefighter Paramedic', 'Director of Fire and Life Safety',
       'Engineer/Firefighter', 'Fire Captain - Shift', 'Fire Captain I',
       'Fire Captain Shift', 'Fire Fighter/Paramedic A',
       'Fire Captain-40 hr', 'Fire Inspector Supervisor',
       'Senior Fire Inspector', 'Fire Battalion Chief-56 hr',
       'Fire Captain-56 hr', 'Fire Battalion Chief-40 hr',
       'City Attorney (Elected)', 'Fire Inspector Ii (Hrly)',
       'Director Of Fire Services', 'Director Of Police Services',
       'Police Community Relations Coordinator',
       'Police Dispatch/Records Assistant', 'Police Services Officer II',
       'Police Support Service Supervisor',
       'Building Official/Fire Marshall', 'Deputy Fire Marshal I',
       'Fire/Safety Inspector 11', 'Fire Engineer-Paramedic',
       'Firefighter-Paramedic', 'Fire Prevention Public Education',
       'City Attorney - p/t', 'Supervising Deputy City Attorney',
       'Confidential Secretary to City Attorney',
       'Deputy City Attorney - Unrepresented',
       'Principal Assistant to City Attorney',
       'Principal City Attorney Investigator',
       'Senior City Attorney Investigator (Environmental Protection Investigator)',
       'Assistant to the Fire Chief',
       'Fire Captain (Emergency Management Coordinator)',
       'Fire Captain-Mast', 'Fire Engineer-Mast', 'Fire Fighter III',
       'Fire Prevention Inspector II/Civil',
       'Fire Prevention Inspector II/Civilian',
       'Assistant to the Police Chief/Civilian',
       'Confidential Secretary to Police Chief',
       'Police Agent (Terminal)', 'Police Agent(Terminal)',
       'Police Code Compl Officer',
       'Police Investigative Aide II(Latent Print Examiner Aide)',
       'Police Invstgtv Aide II', 'Police Officer III',
       'Police Property & Evid Clerk',
       'Police Property And Evidence Clerk',
       'Police Records Data Specialist Supervisor',
       'Police Service Officer II (African Service Officer)',
       'Police Service Officer II (Indochinese Service Officer II)',
       'Police Service Officer II(Indochinese Senior Officer II)',
       'Senior Property And Evidence Supervisor (Police Property And Evidence Supervisor)',
       'Temporary Fire Chief', 'Temporary Firefighter',
       'Deputy Fire Marshall', 'H/Fire Sworn', 'H/Preschool Instructor',
       'Senior Assistant City Attorney', 'Fire Insp/Invest II',
       'Fire Insp/Invest II Hourly', 'Fire Prev Eng/Invest',
       'Senior Fire Insp/Invest', 'Police Records Transcriptionist',
       'Police Services Tech (Hourly)', 'Police Support Services Manager',
       'Senior Police Data Specialist', 'Fire Engineer - Paramedic',
       'Police Commander Relations Coordinator',
       'Police Services Officer I', 'Secretary To Police Chief',
       'Fire Prevention Battalion Chief', 'Firefighter/Paramedic II',
       'Assistant City Attorney/Litigation',
       'Executive Assistant-City Attorney', 'Senior Deputy City Attorney',
       'Dep Fire Marshal',
       'Department Specialist/Police Data Technician I',
       'Police Services Bureau Manager',
       'Public Safety Director/Fire Chief',
       'Residential Fire/Safety Inspector',
       'Police Services Technician-Temp',
       'Fire Prevention/Public Education', 'Firefighter/ Paramedic',
       'City Attorney - Part Time', 'Deputy City Attorney I',
       'Deputy City Attorney - Unrepresentative',
       'Senior City Attorney Investigator (Env Prot Investigator)',
       'Assistant Fire Marshal/Civil', 'Fire Prevention Supervisor/Civil',
       'Assistant to the Police Chief/Civil',
       'Police Code Compl Supervisor',
       'Police Service Officer II (African Seniorv Officer)',
       'Police Service Officer II (Indochinese Senior Officer II)',
       'Director Of Fire Life And Safety', 'Fire Battalion Chief-40 Hr.',
       'Fire Battalion Chief-56 Hr.', 'Fire Captain-40 Hr.',
       'Fire Captain-56 Hr.', 'Fire Apparatus Mechanic',
       'Fire Battalion Chief (Interim)', 'Fire Captain (Interim)',
       'Fire Engineer (112 Hr)', 'Fire Engineer (Interim)',
       'Fire Insp/Invest I', 'Fire Prev Engineer/Invest',
       'Sr Fire Insp/Invest', 'Police Dispatcher (Hourly)',
       'Police Records Spec (Hourly)',
       'Police Services Officer Supervisor',
       'Police Communications Relations Coordinator',
       'Police Support Services Supervisor', 'Ex Assist To City Attorney',
       'Build Officer/Fire Marshall', 'Fire Battalion Chief 2.5%',
       'Fire Battalion Chief 5%', 'Fire Captain 5%', 'Fire Captains 2.5%',
       'Fire Chief W/Incentive', 'Fire Engineer 2.5%', 'Firefighter 2.5%',
       'Paramedic/Firefighter 5%', 'Police Capt. 7.5%',
       'Police Captain 13%', 'Police Chief 7.5%', 'Police Lieutenant 13%',
       'Police Lieutenant 5%', 'Police Lieutenant 7.5%',
       'Police Officer 2.5%', 'Police Officer 5%',
       'Police Records Manager W/Mast', 'Police Sergeant 5%',
       'Fire Marshall', 'Sr Deputy City Attorney',
       'Assistant Chief of Police', 'Dept. Spec/Police Data Tech I',
       'Police Services Analyst', 'Fire Battalion Chief 112',
       'Fire Captain - Pm Cert', 'Fire Engineer - Pm Cert',
       'Police Services Tech.', 'Fire Prevention/Public Ed',
       'City Attorney-P/T', 'Conf Secretary to City Attorney',
       'Sr City Attorney Investigator',
       'Sr City Attorney Investigator(Env Prot Investigator)',
       'Sr Engineer-Fire Protection', 'Conf Secretary to Police Chief',
       'Police Records Data Spec', 'Police Records Data Spec Supervisor',
       'Police Serv Officer II(African Serve Officer)',
       'Police Serv Officer II(Indochinese Serve Of II)',
       'Sr Police Records Clerk',
       'Fire Captain(Emergency Management Coordinator)', 'Fire Bc Shift',
       'Fire Inspector/Safety', 'Director Fire and Life Safety',
       'Fire Captain II', 'Temporary Fire Prevention Technician',
       'Police Records Specialist I', 'Deputy Fire Chief (Interim)',
       'Fire Prevention Aide', 'Police Svcs Officer Supervisor',
       'Police Comm. Rela. Coordinator.', 'Police Dispatch Temp',
       'Police Dispatch/Rec. Assistant', 'Build Office/Fire Marshall',
       'Supervisor Building/Fire Safety Inspect',
       'Security To Police Chief', 'Probation Firefighter Medic',
       'Sr Deputy Fire Marshall', 'Dep Fire Chief',
       'Asst Chief Of Police', 'Department Spec/Police Data Tech I',
       'PS Director/Fire Chief', 'Fire Battalion Chief 80',
       'Police Services Tech-Temp', 'Police Srvs Specialist',
       'Police Investigator', 'Police Officer Recruit', 'City Atty',
       'City Atty Invstgtr', 'Conf Secretary to City Atty',
       'Deputy City Atty', 'Deputy City Atty - Unrep',
       'Principal Assistant to City Atty', 'Principal City Atty Invstgtr',
       'Sr City Atty Invstgtr',
       'Sr City Atty Invstgtr(Env Prot Invstgtr)', 'Fire Fighter 2',
       'Assistant Fire Marshal/Civ',
       'Fire Captain(Emer Mgmt. Coordinator)', 'Fire Fighter 1',
       'Fire Fighter 3', 'Fire Prevention Inspector 2',
       'Fire Prevention Inspector 2/Civ',
       'Fire Prevention Supervisor/Civ', 'Police Officer 2',
       'Police Code Compl Ofcr', 'Police Dispatch Admnstr',
       'Police Invstgtv Serv Ofcr 2',
       'Police Invstgtv Serv Ofcr 2(Lt Pn Ex Ad)', 'Police Officer 1',
       'Police Officer 3', 'Police Serv Ofcr 2(African Srv Ofcr)',
       'Police Serv Ofcr 2(Indochinese Srv Of 2)', 'Fire Captain/Pm',
       'Fire Engineer/Pm', 'Director Fire & Life Safety',
       'Assistant City Attorney Uf', 'Fire Captain Specialist - Of',
       'H/Ret Annuitant Police Officer', 'Police Sergeant -Of',
       'Police Records Specialist IIjs', 'Sr Asst City Attorney',
       'Fire Prevention Aide (Hrly)', 'Police Admin Svcs Administrato',
       'Police Services Officer (Hrly)',
       'Police Com. Relations Coordinator.',
       'Police Dispatch/Records Asst.', 'Ex Assist To City Atty',
       'Police Dispatcher Supv', 'Police Records Mgr.',
       'Police Records Supv', 'Sr. Deputy City Attorney',
       'Dept. Spec/Police Records Tech', 'Police Services Bureau Mgr.',
       'Firefighter/Paramedic Recruit', 'Gis Fire Mapping Intern',
       'Police Officer - Temp', 'Police Ser Tech-Temp/Pers',
       'Firefighter Paramedic (40 Hour)', 'Fire Safety Inspector',
       'Sr. City Atty Invstgtr',
       'Sr. City Atty Invstgtr(Env Prot Invstgtr)',
       'Sr. Engineer-Fire Protection', 'Fire Captain(Emer Mgmt. Coord)',
       'Fire Dispatch Supv', 'Fire Prevention Supv',
       'Fire Prevention Supv/Civ', 'Police Dispatch Supv',
       'Police Invstgtv Serv Ofcr 1', 'Police Records Data Spec Supv',
       'Sr. Police Records Clerk', 'Fire Fighter Paramedic',
       'Dir Fire & Life Safety', 'Fire Captain (Shift)',
       'Fire Engineer  + Paramedic', 'Firefighter + Paramedic',
       'Temp Fire Prevention Tech', 'Police Record Specialist II-Js',
       'Fire Insp/Invest I (Hrly)', 'Firefighter/Paramedic (112 Hr)',
       'Police Tech Specialist (Hrly)', 'Sr Police Technology Spec',
       'Fire Prevention Specialist I', 'Fire Inspector I - Temp',
       'Police Captain - Temp', 'Police Chief-Temp',
       'Sr. Assistant City Attorney', 'Fire Engineer (40 Hour)',
       'Firefighter Paramedic Recruit (56 Hour)',
       'Assistant To The Fire Chief', 'Police Invstgtv Serv Officer 1',
       'Police Invstgtv Serv Officer 2',
       'Police Invstgtv Serv Officer 2(Lt Pn Ex Ad)',
       'Police Serv Officer 1(Indochinese Srv Officer)',
       'Police Serv Officer 2(African Srv Officer)',
       'Police Serv Officer 2(Indochinese Srv Of 2)',
       'Fire Prevention Tech', 'Acting Fire Chief',
       'Deputy City Attorney - UF', 'Fire Permit Technician II',
       'Police Records Specialist IIJS', 'Fire Battalion Chief (112 HR)',
       'Fire Captain (112 HR)', 'Fire Battalion Chief (80 HR)',
       'Fire Captain (80 HR)', 'Fire Eng (112 HR)', 'Fire Eng (80 HR)',
       'Firefighter (112 HR)', 'Firefighter/Paramedic (112 HR)',
       'Police Tech Specialist (HRly)', 'Police Technology Manager',
       'Sr Police Records Specialist', 'Director of Fire Services',
       'Director of Police Services', 'Police Com. Relations Coord.',
       'Executive Assistant to the City Attorney',
       'Supervisor Building/ Fire Inspector', 'Fire  Chief',
       'Police Record Manager', 'Dept Spec/ Fire Chief',
       'Dept Spec/Police Records Tech', 'Executive Asst-Chief of Police',
       'Police Busines Mgr', 'Principal Asst to City Atty',
       'Asst Fire Chief', 'Asst Fire Marshal/Civ',
       'Asst to the Fire Chief', 'Fire Captain(Emer Mgmt Coord)',
       'Fire Prevention Inspctr 2', 'Fire Prevention Inspctr 2/Civ',
       'Asst Police Chief', 'Police Property & Evid Clrk',
       'Police Serv Ofcr 1(Indochinese Srv Ofcr)',
       'Fire Battalion Chief-56 Hr', 'Fire Captain-56 Hr',
       'Fire Battalion Chief-40 Hr', 'Assistant City Attorney - Uf',
       'Deputy City Attorney - Uf', 'Paramedic Firefighter - Os',
       'Fire Prevention Spec I - Uf', 'Police Ranger',
       'Police Lieutenant - Pos 1731', 'Police Rec Specialist I - Bf1',
       'Fire Prevention Aide (Hourly)', 'Firefighter/Paramedic (80 Hr)',
       'Police Admin Services Administrator',
       'Police Tech Specialist (Hourly)',
       'Senior Police Records Specialist',
       'Supervisor Building/Fire Safety Inspector', 'Dep City Attorney I',
       'Dep City Attorney II', 'Department Spec/Police Records Tech',
       'Executive Assistant-Chief Of Police', 'Police Business Manager',
       'Police Services Tech-Temp/Pers',
       'Conf Secretary To City Attorney',
       'Principal Assistant To City Attorney', 'Firefighter II',
       'Firefighter III', 'Police Dispatch Admin',
       'Police Investigative Services Officer I',
       'Police Investigative Services Officer II',
       'Police Investigative Services Officer II (Lt Pn Ex Ad)',
       'Police Property & Evidence Specialist',
       'Police Property & Evidence Supervisor',
       'Police Services Officer I (Indochinese Services Officer)',
       'Police Services Officer II (African Services Officer)',
       'Police Services Officer II (Indochinese Services Officer II)',
       'Senior Police Prop & Evidence Supervisor',
       'Fire Battalion Chief Shift', 'Fire/Ems Support Specialist',
       'Assistant Fire Marshall', 'Fire Captain-40 Hr',
       'Police Records Specialist I - Js', 'Fire Battalion Chief - A',
       'Fire Battalion Chief - C', 'Fire Captain - A', 'Fire Captain - C',
       'Fire Engineer - A', 'Fire Engineer - C',
       'Fire Inspector/Investigator I', 'Fire Inspector/Investigator II',
       'Firefighter - A', 'Firefighter/Paramedic - A',
       'Firefighter/Paramedic - C', 'Senior Fire Inspector/Investig',
       'Civilian Police Investigator', 'Police Dispatcher Trainee',
       'Senior Police Records Spec',
       'Interim Director Of Police Services', '4015 Asst Fire Marshall',
       '8045 Fire Chief', '8050 Fire Captain',
       '8055 Fire Captain/Paramedic', '8070 Fire Engineer Paramedic',
       '8090 Firefighter/Paramedic', 'Fire Marshal-Temp',
       'Police Prop Officer I', 'Police Prop Officer II',
       'Firefighter Paramedic Recruit (40 Hour)',
       'Principal Asst To City Atty', 'Asst To The Fire Chief',
       'Police Property & Evid Spec', 'Police Property & Evid Supv',
       'Sr Police Prop & Evid Supv', 'Fire Battalion Chief-56 Hour',
       'Fire Captain-40 Hour', 'Fire Captain-56 Hour',
       'Fire Battalion Chief-40 Hour', 'Hourly/Ret. Anuit. Police Ofc',
       'Fire Captain - B', 'Firefighter/Paramedic - B',
       'Police Support Services Aide', 'Senior Police Technology Spec',
       'Secretary To The Police Chief', 'Contract Deputy Fire Marshall I',
       '4015 Assistant Fire Marshall', 'Police Services Spec-Temp',
       'Police Services Tech',
       'Senior City Attorney Investigator(Env Protection Investigator)',
       'Asoc Eng-Fire Protection',
       'Police Investigative Services Officer 1',

In [202]:
# Check df to see if there are NaN
cols = df.columns

for i in cols:
    if df[i].isna().sum() > 0:
        print(i, " contains NaN with ", df[df[i].isna()].shape[0], "rows") 
        display(df[df[i].isna()])

MinPositionSalary  contains NaN with  192 rows

,Year,EmployerName,DepartmentOrSubdivision,Position,MinPositionSalary,MaxPositionSalary,ReportedBaseWage,RegularPay,OvertimePay,LumpSumPay,OtherPay,TotalWages
5727,2009,Vista,City Attorney,City Attorney,NaN,228804.0,235880.0,NaN,NaN,NaN,NaN,235880.0
5728,2009,Vista,Emergency Medical Services,Fire Fighter/Paramedic A,NaN,NaN,50064.0,73980.0,28284.0,NaN,NaN,NaN
5729,2009,Vista,Emergency Medical Services,Fire Fighter/Paramedic A,NaN,NaN,50064.0,73980.0,44878.0,NaN,NaN,NaN
5730,2009,Vista,Emergency Medical Services,Fire Fighter/Paramedic A,NaN,NaN,50064.0,73980.0,82100.0,NaN,NaN,NaN
5731,2009,Vista,Emergency Medical Services,Fire Fighter/Paramedic A,NaN,NaN,50064.0,73980.0,85689.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
85778,2023,Vista,Fire Suppression,Fire Fighter/Pm A,NaN,NaN,91176.0,110868.0,NaN,56661.0,24385.0,2288.0
85779,2023,Vista,Fire Suppression,Fire Fighter/Pm A,NaN,NaN,91176.0,110868.0,NaN,44433.0,18677.0,1879.0
85780,2023,Vista,Fire Suppression,Fire Fighter/Pm A,NaN,NaN,91176.0,110868.0,NaN,33912.0,1010.0,2486.0
85781,2023,Vista,Fire Suppression,Fire Fighter/Pm A,NaN,NaN,91176.0,110868.0,NaN,44433.0,21412.0,1879.0
85782,2023,Vista,Fire Suppression,Fire Fighter/Pm A,NaN,NaN,91176.0,110868.0,NaN,3825.0,1275.0,306.0

MaxPositionSalary  contains NaN with  537 rows

,Year,EmployerName,DepartmentOrSubdivision,Position,MinPositionSalary,MaxPositionSalary,ReportedBaseWage,RegularPay,OvertimePay,LumpSumPay,OtherPay,TotalWages
5728,2009,Vista,Emergency Medical Services,Fire Fighter/Paramedic A,NaN,NaN,50064.0,73980.0,28284.0,NaN,NaN,NaN
5729,2009,Vista,Emergency Medical Services,Fire Fighter/Paramedic A,NaN,NaN,50064.0,73980.0,44878.0,NaN,NaN,NaN
5730,2009,Vista,Emergency Medical Services,Fire Fighter/Paramedic A,NaN,NaN,50064.0,73980.0,82100.0,NaN,NaN,NaN
5731,2009,Vista,Emergency Medical Services,Fire Fighter/Paramedic A,NaN,NaN,50064.0,73980.0,85689.0,NaN,NaN,NaN
5732,2009,Vista,Emergency Medical Services,Fire Fighter/Paramedic A,NaN,NaN,50064.0,73980.0,85105.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
85778,2023,Vista,Fire Suppression,Fire Fighter/Pm A,NaN,NaN,91176.0,110868.0,NaN,56661.0,24385.0,2288.0
85779,2023,Vista,Fire Suppression,Fire Fighter/Pm A,NaN,NaN,91176.0,110868.0,NaN,44433.0,18677.0,1879.0
85780,2023,Vista,Fire Suppression,Fire Fighter/Pm A,NaN,NaN,91176.0,110868.0,NaN,33912.0,1010.0,2486.0
85781,2023,Vista,Fire Suppression,Fire Fighter/Pm A,NaN,NaN,91176.0,110868.0,NaN,44433.0,21412.0,1879.0
85782,2023,Vista,Fire Suppression,Fire Fighter/Pm A,NaN,NaN,91176.0,110868.0,NaN,3825.0,1275.0,306.0

ReportedBaseWage  contains NaN with  74411 rows

,Year,EmployerName,DepartmentOrSubdivision,Position,MinPositionSalary,MaxPositionSalary,ReportedBaseWage,RegularPay,OvertimePay,LumpSumPay,OtherPay,TotalWages
11234,2011,Carlsbad,City Attorney,Assistant City Attorney,108100,154600.0,NaN,154600.0,5946.0,NaN,7638.0,168184.0
11235,2011,Carlsbad,City Attorney,Assistant City Attorney,108100,154600.0,NaN,115299.0,NaN,NaN,1500.0,116799.0
11236,2011,Carlsbad,City Attorney,Assistant City Attorney,108100,154600.0,NaN,135026.0,NaN,NaN,3000.0,138026.0
11237,2011,Carlsbad,City Attorney,City Attorney,2.00E+05,250000.0,NaN,236300.0,NaN,NaN,3882.0,240182.0
11238,2011,Carlsbad,City Attorney,Secretary To City Attorney,52800,72600.0,NaN,54192.0,NaN,NaN,NaN,54192.0
...,...,...,...,...,...,...,...,...,...,...,...,...
85735,2023,Vista,Fire Suppression,Fire Engineer,94824,115296.0,NaN,111502.0,27265.0,5052.0,5089.0,148908.0
85736,2023,Vista,Fire Suppression,Fire Engineer,94824,115296.0,NaN,111502.0,28209.0,5052.0,9589.0,154352.0
85737,2023,Vista,Fire Suppression,Fire Engineer,94824,115296.0,NaN,111502.0,47280.0,5052.0,5362.0,169196.0
85738,2023,Vista,Fire Suppression,Fire Engineer,94824,115296.0,NaN,111502.0,51776.0,5052.0,5089.0,173419.0
85783,2023,Vista,Human Resources,Fire Chief,120516,254976.0,NaN,107585.0,0.0,0.0,299.0,107884.0

RegularPay  contains NaN with  11187 rows

,Year,EmployerName,DepartmentOrSubdivision,Position,MinPositionSalary,MaxPositionSalary,ReportedBaseWage,RegularPay,OvertimePay,LumpSumPay,OtherPay,TotalWages
0,2009,Carlsbad,City Attorney,Assistant City Attorney,108099,154599.0,147559.0,NaN,NaN,NaN,NaN,147559.0
1,2009,Carlsbad,City Attorney,Assistant City Attorney,108099,154599.0,166988.0,NaN,NaN,NaN,NaN,166988.0
2,2009,Carlsbad,City Attorney,City Attorney,0,236299.0,257057.0,NaN,NaN,NaN,NaN,257057.0
3,2009,Carlsbad,City Attorney,Deputy City Attorney,88500,128300.0,118389.0,NaN,NaN,NaN,NaN,118389.0
4,2009,Carlsbad,City Attorney,Secretary To City Attorney,52800,72600.0,57996.0,NaN,NaN,NaN,NaN,57996.0
...,...,...,...,...,...,...,...,...,...,...,...,...
11229,2010,Vista,Fire Suppression,Firefighter/Paramedic,50064,73980.0,92172.0,NaN,NaN,NaN,NaN,92172.0
11230,2010,Vista,Fire Suppression,Firefighter/Paramedic,50064,73980.0,108673.0,NaN,NaN,NaN,NaN,108673.0
11231,2010,Vista,Fire Suppression,Firefighter/Paramedic,50064,73980.0,85474.0,NaN,NaN,NaN,NaN,85474.0
11232,2010,Vista,Fire Training,Fire Battalion Chief-40 hr,98040,119160.0,105077.0,NaN,NaN,NaN,NaN,105077.0
11233,2010,Vista,Fire Training,Fire Battalion Chief-40 hr,98040,119160.0,117148.0,NaN,NaN,NaN,NaN,117148.0

OvertimePay  contains NaN with  11484 rows

,Year,EmployerName,DepartmentOrSubdivision,Position,MinPositionSalary,MaxPositionSalary,ReportedBaseWage,RegularPay,OvertimePay,LumpSumPay,OtherPay,TotalWages
0,2009,Carlsbad,City Attorney,Assistant City Attorney,108099,154599.0,147559.0,NaN,NaN,NaN,NaN,147559.0
1,2009,Carlsbad,City Attorney,Assistant City Attorney,108099,154599.0,166988.0,NaN,NaN,NaN,NaN,166988.0
2,2009,Carlsbad,City Attorney,City Attorney,0,236299.0,257057.0,NaN,NaN,NaN,NaN,257057.0
3,2009,Carlsbad,City Attorney,Deputy City Attorney,88500,128300.0,118389.0,NaN,NaN,NaN,NaN,118389.0
4,2009,Carlsbad,City Attorney,Secretary To City Attorney,52800,72600.0,57996.0,NaN,NaN,NaN,NaN,57996.0
...,...,...,...,...,...,...,...,...,...,...,...,...
85778,2023,Vista,Fire Suppression,Fire Fighter/Pm A,NaN,NaN,91176.0,110868.0,NaN,56661.0,24385.0,2288.0
85779,2023,Vista,Fire Suppression,Fire Fighter/Pm A,NaN,NaN,91176.0,110868.0,NaN,44433.0,18677.0,1879.0
85780,2023,Vista,Fire Suppression,Fire Fighter/Pm A,NaN,NaN,91176.0,110868.0,NaN,33912.0,1010.0,2486.0
85781,2023,Vista,Fire Suppression,Fire Fighter/Pm A,NaN,NaN,91176.0,110868.0,NaN,44433.0,21412.0,1879.0
85782,2023,Vista,Fire Suppression,Fire Fighter/Pm A,NaN,NaN,91176.0,110868.0,NaN,3825.0,1275.0,306.0

LumpSumPay  contains NaN with  12972 rows

,Year,EmployerName,DepartmentOrSubdivision,Position,MinPositionSalary,MaxPositionSalary,ReportedBaseWage,RegularPay,OvertimePay,LumpSumPay,OtherPay,TotalWages
0,2009,Carlsbad,City Attorney,Assistant City Attorney,108099,154599.0,147559.0,NaN,NaN,NaN,NaN,147559.0
1,2009,Carlsbad,City Attorney,Assistant City Attorney,108099,154599.0,166988.0,NaN,NaN,NaN,NaN,166988.0
2,2009,Carlsbad,City Attorney,City Attorney,0,236299.0,257057.0,NaN,NaN,NaN,NaN,257057.0
3,2009,Carlsbad,City Attorney,Deputy City Attorney,88500,128300.0,118389.0,NaN,NaN,NaN,NaN,118389.0
4,2009,Carlsbad,City Attorney,Secretary To City Attorney,52800,72600.0,57996.0,NaN,NaN,NaN,NaN,57996.0
...,...,...,...,...,...,...,...,...,...,...,...,...
75202,2022,Lemon Grove,Fire,Firefighter/Paramedic,74577,90631.0,NaN,96713.0,41034.0,NaN,8800.0,146547.0
75203,2022,Lemon Grove,Fire,Firefighter/Paramedic,74577,90631.0,NaN,90722.0,41735.0,NaN,3835.0,136292.0
75204,2022,Lemon Grove,Fire,Firefighter/Paramedic,74577,90631.0,NaN,89343.0,23784.0,NaN,3835.0,116962.0
75205,2022,Lemon Grove,Fire,Firefighter/Paramedic,74577,90631.0,NaN,80461.0,32628.0,NaN,3835.0,116924.0
75206,2022,Lemon Grove,Fire,Firefighter/Paramedic,74577,90631.0,NaN,42213.0,6883.0,NaN,3835.0,52931.0

OtherPay  contains NaN with  13621 rows

,Year,EmployerName,DepartmentOrSubdivision,Position,MinPositionSalary,MaxPositionSalary,ReportedBaseWage,RegularPay,OvertimePay,LumpSumPay,OtherPay,TotalWages
0,2009,Carlsbad,City Attorney,Assistant City Attorney,108099,154599.0,147559.0,NaN,NaN,NaN,NaN,147559.0
1,2009,Carlsbad,City Attorney,Assistant City Attorney,108099,154599.0,166988.0,NaN,NaN,NaN,NaN,166988.0
2,2009,Carlsbad,City Attorney,City Attorney,0,236299.0,257057.0,NaN,NaN,NaN,NaN,257057.0
3,2009,Carlsbad,City Attorney,Deputy City Attorney,88500,128300.0,118389.0,NaN,NaN,NaN,NaN,118389.0
4,2009,Carlsbad,City Attorney,Secretary To City Attorney,52800,72600.0,57996.0,NaN,NaN,NaN,NaN,57996.0
...,...,...,...,...,...,...,...,...,...,...,...,...
68933,2021,Imperial Beach,Ps Fire Protection,8090 Firefighter/Paramedic,70248,94140.0,NaN,64536.0,0.0,21902.0,NaN,86438.0
68934,2021,Imperial Beach,Ps Fire Protection,8090 Firefighter/Paramedic,70248,94140.0,NaN,68762.0,0.0,20495.0,NaN,89257.0
68935,2021,Imperial Beach,Ps Fire Protection,8090 Firefighter/Paramedic,70248,94140.0,NaN,63872.0,0.0,16665.0,NaN,80537.0
75199,2022,Lemon Grove,Fire,Fire Inspector,54121,78175.0,NaN,8575.0,NaN,NaN,NaN,8575.0
75207,2022,Lemon Grove,Fire,Firefighter/Paramedic,74577,90631.0,NaN,21206.0,5586.0,6999.0,NaN,33791.0

TotalWages  contains NaN with  42 rows

,Year,EmployerName,DepartmentOrSubdivision,Position,MinPositionSalary,MaxPositionSalary,ReportedBaseWage,RegularPay,OvertimePay,LumpSumPay,OtherPay,TotalWages
5728,2009,Vista,Emergency Medical Services,Fire Fighter/Paramedic A,NaN,NaN,50064.0,73980.0,28284.0,NaN,NaN,NaN
5729,2009,Vista,Emergency Medical Services,Fire Fighter/Paramedic A,NaN,NaN,50064.0,73980.0,44878.0,NaN,NaN,NaN
5730,2009,Vista,Emergency Medical Services,Fire Fighter/Paramedic A,NaN,NaN,50064.0,73980.0,82100.0,NaN,NaN,NaN
5731,2009,Vista,Emergency Medical Services,Fire Fighter/Paramedic A,NaN,NaN,50064.0,73980.0,85689.0,NaN,NaN,NaN
5732,2009,Vista,Emergency Medical Services,Fire Fighter/Paramedic A,NaN,NaN,50064.0,73980.0,85105.0,NaN,NaN,NaN
5733,2009,Vista,Emergency Medical Services,Fire Fighter/Paramedic A,NaN,NaN,50064.0,73980.0,94257.0,NaN,NaN,NaN
5734,2009,Vista,Emergency Medical Services,Fire Fighter/Paramedic A,NaN,NaN,50064.0,73980.0,86417.0,NaN,NaN,NaN
5735,2009,Vista,Emergency Medical Services,Fire Fighter/Paramedic A,NaN,NaN,50064.0,73980.0,86637.0,NaN,NaN,NaN
5736,2009,Vista,Emergency Medical Services,Fire Fighter/Paramedic A,NaN,NaN,50064.0,73980.0,86452.0,NaN,NaN,NaN
5737,2009,Vista,Emergency Medical Services,Fire Fighter/Paramedic A,NaN,NaN,50064.0,73980.0,67132.0,NaN,NaN,NaN
5738,2009,Vista,Emergency Medical Services,Fire Fighter/Paramedic A,NaN,NaN,50064.0,73980.0,95957.0,NaN,NaN,NaN
5739,2009,Vista,Emergency Medical Services,Fire Fighter/Paramedic A,NaN,NaN,50064.0,73980.0,73694.0,NaN,NaN,NaN
5740,2009,Vista,Emergency Medical Services,Fire Fighter/Paramedic A,NaN,NaN,50064.0,73980.0,98658.0,NaN,NaN,NaN
5741,2009,Vista,Emergency Medical Services,Fire Fighter/Paramedic A,NaN,NaN,50064.0,73980.0,86545.0,NaN,NaN,NaN
5742,2009,Vista,Emergency Medical Services,Fire Fighter/Paramedic A,NaN,NaN,50064.0,73980.0,68601.0,NaN,NaN,NaN
5743,2009,Vista,Emergency Medical Services,Fire Fighter/Paramedic A,NaN,NaN,50064.0,73980.0,73695.0,NaN,NaN,NaN
5744,2009,Vista,Emergency Medical Services,Fire Fighter/Paramedic A,NaN,NaN,50064.0,73980.0,5730.0,NaN,NaN,NaN
5745,2009,Vista,Emergency Medical Services,Fire Fighter/Paramedic A,NaN,NaN,50064.0,73980.0,77094.0,NaN,NaN,NaN
5746,2009,Vista,Emergency Medical Services,Fire Fighter/Paramedic A,NaN,NaN,50064.0,73980.0,81790.0,NaN,NaN,NaN
5747,2009,Vista,Emergency Medical Services,Fire Fighter/Paramedic A,NaN,NaN,50064.0,73980.0,67473.0,NaN,NaN,NaN
5748,2009,Vista,Emergency Medical Services,Fire Fighter/Paramedic A,NaN,NaN,50064.0,73980.0,92125.0,NaN,NaN,NaN
5749,2009,Vista,Emergency Medical Services,Fire Fighter/Paramedic A,NaN,NaN,50064.0,73980.0,70236.0,NaN,NaN,NaN
5802,2009,Vista,Fire Suppression,Fire Fighter/Paramedic A,NaN,NaN,50064.0,73980.0,82616.0,NaN,NaN,NaN
5803,2009,Vista,Fire Suppression,Fire Fighter/Paramedic A,NaN,NaN,50064.0,73980.0,61019.0,NaN,NaN,NaN
5804,2009,Vista,Fire Suppression,Fire Fighter/Paramedic A,NaN,NaN,50064.0,73980.0,69621.0,NaN,NaN,NaN
5805,2009,Vista,Fire Suppression,Fire Fighter/Paramedic A,NaN,NaN,50064.0,73980.0,9458.0,NaN,NaN,NaN
5806,2009,Vista,Fire Suppression,Fire Fighter/Paramedic A,NaN,NaN,50064.0,73980.0,68734.0,NaN,NaN,NaN
5807,2009,Vista,Fire Suppression,Fire Fighter/Paramedic A,NaN,NaN,50064.0,73980.0,78021.0,NaN,NaN,NaN
5808,2009,Vista,Fire Suppression,Fire Fighter/Paramedic A,NaN,NaN,50064.0,73980.0,21960.0,NaN,NaN,NaN
5809,2009,Vista,Fire Suppression,Fire Fighter/Paramedic A,NaN,NaN,50064.0,73980.0,17301.0,NaN,NaN,NaN
5810,2009,Vista,Fire Suppression,Fire Fighter/Paramedic A,NaN,NaN,50064.0,73980.0,70191.0,NaN,NaN,NaN
5811,2009,Vista,Fire Suppression,Fire Fighter/Paramedic A,NaN,NaN,50064.0,73980.0,84753.0,NaN,NaN,NaN
5812,2009,Vista,Fire Suppression,Fire Fighter/Paramedic A,NaN,NaN,50064.0,73980.0,94192.0,NaN,NaN,NaN
5813,2009,Vista,Fire Suppression,Fire Fighter/Paramedic A,NaN,NaN,50064.0,73980.0,54620.0,NaN,NaN,NaN
5814,2009,Vista,Fire Suppression,Fire Fighter/Paramedic A,NaN,NaN,50064.0,73980.0,68460.0,NaN,NaN,NaN
5815,2009,Vista,Fire Suppression,Fire Fighter/Paramedic A,NaN,NaN,50064.0,73980.0,98250.0,NaN,NaN,NaN
5816,2009,Vista,Fire Suppression,Fire Fighter/Paramedic A,NaN,NaN,50064.0,73980.0,96195.0,NaN,NaN,NaN
5817,2009,Vista,Fire Suppression,Fire Fighter/Paramedic A,NaN,NaN,50064.0,73980.0,71268.0,NaN,NaN,NaN
5818,2009,Vista,Fire Suppression,Fire Fighter/Paramedic A,NaN,NaN,50064.0,73980.0,70353.0,NaN,NaN,NaN
5819,2009,Vista,Fire Suppression,Fire Fighter/Paramedic A,NaN,NaN,50064.0,73980.0,69734.0,NaN,NaN,NaN
5820,2009,Vista,Fire Suppression,Fire Fighter/Paramedic A,NaN,NaN,50064.0,73980.0,74363.0,NaN,NaN,NaN
5821,2009,Vista,Fire Suppression,Fire Fighter/Paramedic A,NaN,NaN,50064.0,73980.0,73346.0,NaN,NaN,NaN

In [203]:
def symmetric_difference(list1, list2):
    """
    Compute the symmetric difference between two lists.
    
    Parameters:
    - list1 (list): The first list.
    - list2 (list): The second list.
    
    Returns:
    - list: The symmetric difference between list1 and list2.
    """
    set1 = set(list1)
    set2 = set(list2)
    
    # Compute symmetric difference using sets
    symmetric_diff_set = set1.symmetric_difference(set2)
    
    # Convert set back to list
    symmetric_diff_list = list(symmetric_diff_set)
    
    return symmetric_diff_list

In [229]:
# Group by df["DepartmentOrSubdivision"] into keywords : ["police", "fire", "city attorney", "sheriff", "teacher", "educator", "school"]

depts = list(df["DepartmentOrSubdivision"].unique())

police_depts = [i for i in depts if "pol" in i.lower()]
fire_depts = [i for i in depts if "fire" in i.lower() or "sdfd" in i.lower()]
attorney_depts = [i for i in depts if "attorney" in i.lower()]
sheriff_depts = [i for i in depts if "sheriff" in i.lower()]
teacher_depts = [i for i in depts if "teacher" in i.lower() or "school" in i.lower()]
giga_depts = police_depts + fire_depts + sheriff_depts + teacher_depts + attorney_depts

other_depts = symmetric_difference(depts, giga_depts)

In [230]:
sheriff_depts

[]

In [231]:
police_df = df[df["DepartmentOrSubdivision"].isin(police_depts)].reset_index()
fire_df = df[df["DepartmentOrSubdivision"].isin(fire_depts)].reset_index()
attorney_df = df[df["DepartmentOrSubdivision"].isin(attorney_depts)].reset_index()
sheriff_df = df[df["DepartmentOrSubdivision"].isin(sheriff_depts)].reset_index()
teacher_df = df[df["DepartmentOrSubdivision"].isin(teacher_depts)].reset_index()
other_df = df[df["DepartmentOrSubdivision"].isin(other_depts)].reset_index()

In [232]:
print("Police DataFrame:")
display(police_df.head())
print("\nFire DataFrame:")
display(fire_df.head())
print("\nAttorney DataFrame:")
display(attorney_df.head())
print("\nSheriff DataFrame:")
display(sheriff_df.head())
print("\nTeacher DataFrame:")
display(teacher_df.head())
print("\nOther DataFrame:")
display(other_df.head())

Police DataFrame:

,index,Year,EmployerName,DepartmentOrSubdivision,Position,MinPositionSalary,MaxPositionSalary,ReportedBaseWage,RegularPay,OvertimePay,LumpSumPay,OtherPay,TotalWages
0,92,2009,Carlsbad,Pol Communications,Police Communications Manager,80700,110999.0,102323.0,NaN,NaN,NaN,NaN,102323.0
1,93,2009,Carlsbad,Pol Communications,Police Communications Manager,80700,110999.0,64969.0,NaN,NaN,NaN,NaN,64969.0
2,94,2009,Carlsbad,Pol Communications,Police Reserve Officer,0,0.0,340.0,NaN,NaN,NaN,NaN,340.0
3,95,2009,Carlsbad,Pol Investigations,Police Corporal,67010,81452.0,97879.0,NaN,NaN,NaN,NaN,97879.0
4,96,2009,Carlsbad,Pol Investigations,Police Corporal,67010,81452.0,134624.0,NaN,NaN,NaN,NaN,134624.0

Fire DataFrame:

,index,Year,EmployerName,DepartmentOrSubdivision,Position,MinPositionSalary,MaxPositionSalary,ReportedBaseWage,RegularPay,OvertimePay,LumpSumPay,OtherPay,TotalWages
0,5,2009,Carlsbad,Fire Admin,Fire Chief,124300,180300.0,187695.0,NaN,NaN,NaN,NaN,187695.0
1,6,2009,Carlsbad,Fire Emergency Operations,Fire Battalion Chief,88500,128300.0,149097.0,NaN,NaN,NaN,NaN,149097.0
2,7,2009,Carlsbad,Fire Emergency Operations,Fire Battalion Chief,88500,128300.0,5030.0,NaN,NaN,NaN,NaN,5030.0
3,8,2009,Carlsbad,Fire Emergency Operations,Fire Battalion Chief,88500,128300.0,156304.0,NaN,NaN,NaN,NaN,156304.0
4,9,2009,Carlsbad,Fire Emergency Operations,Fire Battalion Chief,88500,128300.0,152961.0,NaN,NaN,NaN,NaN,152961.0

Attorney DataFrame:

,index,Year,EmployerName,DepartmentOrSubdivision,Position,MinPositionSalary,MaxPositionSalary,ReportedBaseWage,RegularPay,OvertimePay,LumpSumPay,OtherPay,TotalWages
0,0,2009,Carlsbad,City Attorney,Assistant City Attorney,108099,154599.0,147559.0,NaN,NaN,NaN,NaN,147559.0
1,1,2009,Carlsbad,City Attorney,Assistant City Attorney,108099,154599.0,166988.0,NaN,NaN,NaN,NaN,166988.0
2,2,2009,Carlsbad,City Attorney,City Attorney,0,236299.0,257057.0,NaN,NaN,NaN,NaN,257057.0
3,3,2009,Carlsbad,City Attorney,Deputy City Attorney,88500,128300.0,118389.0,NaN,NaN,NaN,NaN,118389.0
4,4,2009,Carlsbad,City Attorney,Secretary To City Attorney,52800,72600.0,57996.0,NaN,NaN,NaN,NaN,57996.0

Sheriff DataFrame:

Empty DataFrame
Columns: [index, Year, EmployerName, DepartmentOrSubdivision, Position, MinPositionSalary, MaxPositionSalary, ReportedBaseWage, RegularPay, OvertimePay, LumpSumPay, OtherPay, TotalWages]
Index: []

Teacher DataFrame:

,index,Year,EmployerName,DepartmentOrSubdivision,Position,MinPositionSalary,MaxPositionSalary,ReportedBaseWage,RegularPay,OvertimePay,LumpSumPay,OtherPay,TotalWages
0,225,2009,Carlsbad,Rec Preschool,Hourly/Preschool Instructor,29120,45760.0,6776.0,NaN,NaN,NaN,NaN,6776.0
1,226,2009,Carlsbad,Rec Preschool,Hourly/Preschool Instructor,29120,45760.0,1065.0,NaN,NaN,NaN,NaN,1065.0
2,227,2009,Carlsbad,Rec Preschool,Hourly/Preschool Instructor,29120,45760.0,7134.0,NaN,NaN,NaN,NaN,7134.0
3,228,2009,Carlsbad,Rec Preschool,Hourly/Preschool Instructor,29120,45760.0,4767.0,NaN,NaN,NaN,NaN,4767.0
4,229,2009,Carlsbad,Rec Preschool,Hourly/Preschool Instructor,29120,45760.0,2755.0,NaN,NaN,NaN,NaN,2755.0

Other DataFrame:

,index,Year,EmployerName,DepartmentOrSubdivision,Position,MinPositionSalary,MaxPositionSalary,ReportedBaseWage,RegularPay,OvertimePay,LumpSumPay,OtherPay,TotalWages
0,237,2009,Chula Vista,Amer. Recovery & Reinvest. Act,Police Agent,69075,83961.0,104842.0,NaN,NaN,NaN,NaN,104842.0
1,238,2009,Chula Vista,Amer. Recovery & Reinvest. Act,Police Agent,69075,83961.0,102093.0,NaN,NaN,NaN,NaN,102093.0
2,239,2009,Chula Vista,Amer. Recovery & Reinvest. Act,Police Comm Relations Spec,43512,52889.0,50580.0,NaN,NaN,NaN,NaN,50580.0
3,240,2009,Chula Vista,Central Garage Fund,Fire Apparatus Mech,56075,68159.0,71752.0,NaN,NaN,NaN,NaN,71752.0
4,241,2009,Chula Vista,Central Garage Fund,Fire Apparatus Mech,56075,68159.0,63498.0,NaN,NaN,NaN,NaN,63498.0

In [234]:
police_df.to_csv('./datasets/police_data.csv', index=False)
fire_df.to_csv('./datasets/fire_data.csv', index=False)
attorney_df.to_csv('./datasets/attorney_data.csv', index=False)
sheriff_df.to_csv('./datasets/sheriff_data.csv', index=False)
teacher_df.to_csv('./datasets/teacher_data.csv', index=False)
other_df.to_csv('./datasets/other_data.csv', index=False)

In [235]:
df.to_csv('./datasets/SDCountyEmployee_data_MORE_cleaned_07112024.csv', index=False)